#header{
  background: url(../img/tickets.jpg);
  background-size: cover;
  background-position: center;
}

.container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.events{
  margin-bottom:20px;
}
.events h1{
  text-align:center;
  margin:10px;
}
.box.event{
  height:300px;
  margin:10px;
}

.img{
  height: 100%;
  width: 100%;
}

.img img{
  height: 100%;
  width: 100%;
}

.text{
  margin-top: 5px;
  text-align: center;
  font-size: 1.1em;
  color: #2e5c8a;
  color:#304254;
}
